/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Full Roster Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#full_roster_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0015,
        0 0 15px #ff0015,
        0 0 20px #ff0015;

    border: 2.5px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;

    border-collapse: collapse;
    background-color: #1c1c1c;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    padding: 10px;
}

#modal_collapse_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-image: url("collapse_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#modal_collapse_text {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    background-color: #1c1c1c;
}

#unit_service_progression_collapse {
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px 5px #00c9ff;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.90);

    padding: 20px;
    padding-left: 25px;
    margin-top: 55px;
    /* margin-right: 2.5%; */
    width: 275px;
    /* float: right; */
}
#unit_exam_progression_collapse {
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px 5px #00c9ff;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.90);

    padding: 20px;
    margin-top: 55px;
    margin-right: 20%;
    width: 170px;
    /* float: right; */
}
#unit_mission_progression_collapse {
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px 5px #00c9ff;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.90);

    padding: 20px;
    padding-left: 25px;
    margin-top: 55px;
    margin-left: 10%;
    width: 400px;
    /* float: left; */
}

#unit_id_close_button {
    width: 50px;
    margin-right: -12.5px;
    margin-top: -25px;
    float: right;
}
#unit_id_close_button_icon {
    color: #ff0015;
    font-size: 40px;
    position: absolute;
    text-shadow:
        0 0 2px #b60031,
        0 0 10px #ffffff,
        0 0 15px #ffffff;
}
#unit_id_close_button:hover #unit_id_close_button_icon {
    color: #ffffff;
    text-shadow:
        0 0 2px #ffffff,
        0 0 10px #ff0015;
}

#unit_id_progression_button {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    box-shadow:
        0 0 2px #b60031,
        0 0 10px #ffffff;

    border-collapse: collapse;
    border: 2px solid #ff0015;
    border-radius: 5px;
    background-color: #ff0015;

    margin-top: 30px;
    margin-bottom: -10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 125px;
}
#unit_id_progression_button:hover {
    color: #b60031;
    box-shadow:
        0 0 2px #b60031,
        0 0 10px #b60031;

    border-collapse: collapse;
    border: 2px solid #b60031;
    background-color: #ffffff;
}

#unit_data_container {
    border: 2px solid #ffffff;
    border-radius: 2px;
    /* box-shadow:
        0 0 5px #ffffff,
        0 0 10px 5px #00c9ff;

    border-collapse: collapse; */
    /* background-color: #1c1c1c; */
    background-color: rgb(28, 28, 28, 0.90);

    padding: 20px;
    margin-left: -22px;
    width: 270px;
    float: left;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Leadership Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#leadership_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 20px #d6b44c;

    border: 5px solid #d6b44c;
    border-radius: 2.5px;

    padding: 15px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#leadership_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;
    
    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Card Start ~~~~~~~~~~~~~~~~~~~~ */
#leadership_card {
    color: #ffffff;
    font-size: 12.2px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Allerta Stencil', sans-serif; */

    border: 5px solid #d6b44c;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
    width: 375px;
}
#leadership_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Modal Start ~~~~~~~~~~~~~~~~~~~~ */
#leadership_unit_id_container {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    /* font-family: 'Fanwood Text', serif; */
    font-family: 'Montserrat', sans-serif;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
    padding: 40px;
    margin-top: 50px;
    width: 657px;
    min-width: 657px;
    max-height: 750px;
    overflow-x: auto;
    overflow-y: auto;
    
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1c1c1c;
    /* background-color: rgb(28, 28, 28, 0.90); */
}
#leadership_unit_id_image {
    border-radius: 2px;
    padding: 10px;
    margin-top: -10px;
    width: 200px;
    height: 200px;
    float: right;
}
#leadership_name_container{
    border: 2px solid #ffffff;
    border-radius: 2px;
    /* box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;
    
    border-collapse: collapse; */
    /* background-color: #1c1c1c; */
    background-color: rgb(28, 28, 28, 0.90);
    padding: 20px;
    height: 220px;
}
#leadership_data_container{
    padding-top: 10px;
    margin-top: 40px;
    height: 250px;
    max-height: 250px;
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Modal End ~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Leadership Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Combat Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#combat_division_container {
    margin-bottom: 25px;
}
#combat_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 20px #b60031;

    border: 5px solid #b60031;
    border-radius: 2.5px;

    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#combat_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Combat Card Start ~~~~~~~~~~~~~~~~~~~~ */
#combat_card {
    color: #ffffff;
    font-size: 12.2px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Allerta Stencil', sans-serif; */

    border: 5px solid #b60031;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
}
#combat_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Combat Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Combat Modal Start ~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Combat Modal End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Combat Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Engineer Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#engineer_division_container {
    margin-bottom: 25px;
}
#engineer_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 20px #ff7042;

    border: 5px solid #ff7042;
    border-radius: 2.5px;

    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#engineer_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Engineer Card Start ~~~~~~~~~~~~~~~~~~~~ */
#engineer_card {
    color: #ffffff;
    font-size: 12.2px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Allerta Stencil', sans-serif; */

    border: 5px solid #ff7042;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
}
#engineer_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Engineer Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Engineer Modal Start ~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Engineer Modal End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Engineer Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Medical Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#medical_division_container {
    margin-bottom: 25px;
}
#medical_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 20px #4285f4;

    border: 5px solid #4285f4;
    border-radius: 2.5px;

    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#medical_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #4285f4,
        0 0 20px #4285f4;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Medical Card Start ~~~~~~~~~~~~~~~~~~~~ */
#medical_card {
    color: #ffffff;
    font-size: 12.2px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Allerta Stencil', sans-serif; */

    border: 5px solid #4285f4;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
}
#medical_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #4285f4,
        0 0 20px #4285f4;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Medical Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Medical Modal Start ~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Medical Modal End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Medical Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Science Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#science_division_container {
    margin-bottom: 25px;
}
#science_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 20px #00b368;

    border: 5px solid #00b368;
    border-radius: 2.5px;

    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#science_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Science Card Start ~~~~~~~~~~~~~~~~~~~~ */
#science_card {
    color: #ffffff;
    font-size: 12.2px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Allerta Stencil', sans-serif; */

    border: 5px solid #00b368;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
}
#science_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Science Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Science Modal Start ~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Science Modal End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Science Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Novitiate Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#novitiate_division_container {
    margin-bottom: 25px;
}
#novitiate_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 1px #1c1c1c,
        0 0 15px #ffffff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;

    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    background-color: #1c1c1c;
}
#novitiate_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 5px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Novitiate Card Start ~~~~~~~~~~~~~~~~~~~~ */
#novitiate_card {
    color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin: 5px;
}
#novitiate_card:hover {
    border: 5px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border-collapse: collapse;
}
/* ~~~~~~~~~~~~~~~~~~~~ Novitiate Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Novitiate Modal Start ~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Novitiate Modal End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Novitiate Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Data Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#stored_start_date {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #ad6cc2,
        0 0 15px #ad6cc2;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 15px;
    width: 120px;
    height: 90px;
}
#data_start_date {
    margin-top: 17.5px;
    font-weight: bold;
}
#stored_promotion_date {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin-top: 7.5px;
    width: 120px;
    height: 90px;
}
#data_promotion_date {
    margin-top: -10px;
    font-weight: bold;
}


#stored_veteran_bonus {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 5px;
    width: 80px;
    height: 90px;
}
#data_veteran_bonus {
    margin-top: -10px;
    font-weight: bold;
}
#stored_daily_pay {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 5px;
    margin-top: 7.5px;
    width: 80px;
    height: 90px;
}
#data_daily_pay {
    margin-top: -10px;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Exams ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#stored_protocol_exam {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #ffffff,
        0 0 15px #00c9ff;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 7.5px;
    /* margin-top: 7.5px; */
    margin-left: 15px;
    width: 120px;
    height: 100px;
}
#data_protocol_exam {
    margin-top: -10px;
    font-weight: bold;
}

#stored_medical_exam {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    width: 120px;
    height: 100px;
}
#data_medical_exam {
    margin-top: -10px;
    font-weight: bold;
}

#stored_g_tactical_exam {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #b60031,
        0 0 15px #b60031;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    width: 120px;
    height: 100px;
}
#data_g_tactical_exam {
    margin-top: -10px;
    font-weight: bold;
}

#stored_s_tactical_exam {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #b60031,
        0 0 15px #b60031;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    width: 120px;
    height: 100px;
}
#data_s_tactical_exam {
    margin-top: -10px;
    font-weight: bold;
}

#stored_officer_exam {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #d6b44c,
        0 0 15px #d6b44c;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    width: 120px;
    height: 100px;
}
#data_officer_exam {
    margin-top: -10px;
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Stored ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#stored_recruits {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #ad6cc2,
        0 0 15px #ad6cc2;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    /* margin-top: 7.5px; */
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_recruits {
    margin-top: 17.5px;
    font-weight: bold;
}
#stored_events {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #ad6cc2,
        0 0 15px #ad6cc2;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_events {
    margin-top: 17.5px;
    font-weight: bold;
}
#stored_patrols {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #ad6cc2,
        0 0 15px #ad6cc2;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_patrols {
    margin-top: 17.5px;
    font-weight: bold;
}
#stored_rank_hours {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 5px;
    /* margin-top: 7.5px; */
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_rank_hours {
    margin-top: -10px;
    font-weight: bold;
}
#stored_rank_months {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 5px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_rank_months {
    margin-top: -10px;
    font-weight: bold;
}
#stored_total_months {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 5px #4285f4,
        0 0 10px #d6b44c,
        0 0 15px #d6b44c;

    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 5px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_total_months {
    margin-top: -10px;
    font-weight: bold;
}
#stored_alerts {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 5px #b60031,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_alerts {
    margin-top: 17.5px;
    font-weight: bold;
}
#stored_warnings {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 5px #b60031,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_warnings {
    margin-top: 17.5px;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Missions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#stored_turret {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    /* margin-top: 7.5px; */
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_turret {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_ground_assault {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    /* margin-top: 7.5px; */
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_ground_assault {
    margin-top: -10px;
    font-weight: bold;
}

#stored_escort {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ad6cc2;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    /* margin-top: 7.5px; */
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_escort {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_inquiry {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_inquiry {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_pilot_co_pilot {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_pilot_co_pilot {
    margin-top: -10px;
    font-weight: bold;
}

#stored_mining {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_mining {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_salvage {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_salvage {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_cargo {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_cargo {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_transit {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #a17b9b;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_transit {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_support {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #a17b9b;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_support {
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_search_rescue {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #4285f4;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_search_rescue {
    margin-top: -10px;
    font-weight: bold;
}

#stored_manage_data{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_manage_data{
    margin-top: -10px;
    font-weight: bold;
}

#stored_research{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_research{
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_explore{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_explore{
    margin-top: 17.5px;
    font-weight: bold;
}

#stored_agronomy{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin-top: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 90px;
}
#data_agronomy{
    margin-top: 17.5px;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Data End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Extra ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#icon_round {
    color: #ff0015;
    margin-right: 5px;
    font-size: 17.5px;
    border-radius: 15px;
    padding: 4px;
}
#card_text {
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;

    margin: 0px;
    margin-left: -10px;
    margin-right: -10px;
}
#card_name {
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Full Roster End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */