#navbar_full {
    background-image: url("merchantman_cargo.png");
    z-index: 2;
}

#navbar_bottom {
    border-bottom: 2px solid #ffffff;
    box-shadow:
        0 0 5px 2.5px #ffffff,
        0 0 10px 5px #00c9ff,
        0 0 20px 10px #00c9ff;
    z-index: 1;
}

#tgo_logo {
    width: 100px;
    height: 100px;
    border: 3px solid #ff0015;
    border-radius: 50px;
    background-color: #202020;
    opacity: 80%;
}

#tgo_logo:hover {
    width: 100.7px;
    height: 100.7px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    box-shadow:
        0 0 2.5px 2px #ffffff,
        0 0 10px 5px #ff0015,
        0 0 15px 10px #ff0015;

    border-collapse: collapse;
    opacity: 1;
}

/* The Galactic Order heading */
#tgo_name {
    color: #ffffff;
    font-size: 3.1vw;
    font-weight: bold;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0015,
        0 0 15px #ff0015,
        0 0 20px #ff0015,
        0 0 30px #00c9ff,
        0 0 40px #00c9ff,
        0 0 50px #00c9ff;

    font-family: 'Allerta Stencil', sans-serif;
}

/* navbar icons */
#fa_nav_icon_square {
    color: #ff0015;
    margin-right: 5px;
    font-size: 17.5px;
    border-radius: 7px;
    padding: 4px;
}

#fa_nav_icon_round {
    color: #ff0015;
    margin-right: 5px;
    font-size: 17.5px;
    border-radius: 15px;
    padding: 4px;
}

/* dropdown navbar links */

#sign_in_link {
    color: #ffffff;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
    font-size: 17.7px;
    border: 3px solid;
    border-radius: 15px;
    background-color: #202124;
}
#sign_in_link:hover {
    color: #ffffff;
    font-size: 17.9px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    box-shadow: 0 0 10px #ffffff;
    border: 4px solid #ffffff;
}
#sign_in_link:hover #fa_nav_icon_square {
    color: #ffffff;
    box-shadow: 0 1px 42px #ff0015;
    background-color: #ff0015;
}


#navbarDropdown1 {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbarDropdown1:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbarDropdown1:hover #fa_nav_icon_round {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbarDropdown2 {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbarDropdown2:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbarDropdown2:hover #fa_nav_icon_round {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbarDropdown3 {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbarDropdown3:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbarDropdown3:hover #fa_nav_icon_square {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbarDropdown4 {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbarDropdown4:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbarDropdown4:hover #fa_nav_icon_square {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbarDropdown5 {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbarDropdown5:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbarDropdown5:hover #fa_nav_icon_round {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}


/* non-dropdown navbar links */
#navbar_calendar {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbar_calendar:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbar_calendar:hover #fa_nav_icon_square {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbar_contact_us {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbar_contact_us:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbar_contact_us:hover #fa_nav_icon_square {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}

#navbar_resources {
    color: #ffffff;
    font-size: 17.5px;
    /* font-family: 'Fanwood Text', serif; */
        font-family: 'Montserrat', sans-serif;
}
#navbar_resources:hover {
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    font-size: 17.7px;
}
#navbar_resources:hover #fa_nav_icon_round {
    color: #ffffff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    background-color: #ff0015;
}