@page {margin: 0;}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: #000000;
    background-image: url("captain_info_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Captain Info Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#captain_info_container {
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;

    border: 4px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px 7px #00c9ff;

    border-collapse: collapse;

    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(28, 28, 28, 0.75);
}

#captain_info_image_container {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#captain_info_image {
    position: center;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;

    border-collapse: collapse;
}

#captain_info_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    
    text-shadow:
        0 0 5px #b60031,
        0 0 10px #ff0015,
        0 0 15px #d6b44c,
        0 0 25px #d6b44c;
    
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;
    
    border-collapse: collapse;
    background-color: #1c1c1c;
    width: 275px;
}

#captain_info_text {
    color: #ffffff;
    font-size: 17.9px;
    /* font-family: 'Fanwood Text', serif; */
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding: 3%;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.90);
}

#big_welcome {
    color: #ff0015;
    font-size: 23px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Captain Info End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
