@page {margin: 0;}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: #000000;
    background-image: url("city1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rank Benefits Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#rank_benefits_container {
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;

    border: 4px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px 7px #00c9ff;

    border-collapse: collapse;

    background-image: url("logo.png");
    /* background-image: url("order_background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: rgb(28, 28, 28, 0.85);
}

#rank_benefits_hidden_container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
    
#rank_benefits_image_container {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#rank_benefits_image {
    position: center;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;

    border-collapse: collapse;
}
    
#rank_benefits_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0015,
        0 0 15px #ff0015,
        0 0 20px #ff0015;

    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;
    

    border-collapse: collapse;
    background-color: #1c1c1c;
    width: 300px;
}
    
#rank_benefits_collapse {
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;

    border-collapse: collapse;
    opacity: 98%;
}

#rank_benefits_text {
    color: #ffffff;
    /* font-size: 1.5vw; */
    font-size: 17.9px;
    /* font-family: 'Fanwood Text', serif; */
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
    background-color: #2c2c2c;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Content Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#benefits_list {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #1c1c1c;
}
#benefits_list:hover {
    color: #ffffff;
    font-size: 25.2px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
}
#benefits_list:hover #rank_benefits_icon {
    color: #ffffff;
    font-size: 30.2px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border-radius: 15px;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;

    border-collapse: collapse;
    background-color: #ff0015;
}
#benefits_image {
    width: 100%;
    position: center;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;
        
    border-collapse: collapse;
}

#financial_loan {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #1c1c1c;
}
#financial_loan:hover {
    color: #ffffff;
    font-size: 25.2px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
}
#financial_loan:hover #rank_benefits_icon {
    color: #ffffff;
    font-size: 30.2px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border-radius: 15px;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;

    border-collapse: collapse;
    background-color: #ff0015;
}
#loan_image {
    width: 100%;
    position: center;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px #ffffff,
        0 0 5px 5px #00c9ff;
        
    border-collapse: collapse;
}

#promotion_exams {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #1c1c1c;
}
#promotion_exams:hover {
    color: #ffffff;
    font-size: 25.2px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
}
#promotion_exams:hover #rank_benefits_icon {
    color: #ffffff;
    font-size: 30.2px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border-radius: 15px;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;

    border-collapse: collapse;
    background-color: #ff0015;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Content End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Exams Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#exam_start_button {
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 1%;
    background-color: #1c1c1c;
}
#exam_start_button:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 10px #1c1c1c,
        0 0 15px #ffffff,
        0 0 20px #ffffff,
        0 0 25px #ffffff;
        
    border-collapse: collapse;
    margin: 1%;
}

#protocol_exam_modal {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    /* font-family: 'Fanwood Text', serif; */
    font-family: 'Montserrat', sans-serif;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #ffffff;

    border-collapse: collapse;
    background: rgba(57, 57, 57, 0.85);
    padding: 25px;

    max-height: 87vh;
    overflow-y: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Exams End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Extra ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#rank_benefits_icon {
    color: #ff0015;
    font-size: 30px;
    margin-right: 20px;
    padding: 7px;
}

#question_number {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    /* font-family: 'Allerta Stencil', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    padding: 5px;
}

#questions_container {
    color: #ffffff;
    font-size: 25px;

    margin: 5px;
    margin-left: 25px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rank Benefits End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */