@page {margin: 0;}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: #000000;
    background-image: url("tgo_base.jpg");
    /* background-image: url("tgo_base_dark.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Roster Buttons Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#roster_buttons_container {
    margin-top: 35px;
    position: sticky;
    position: fixed;
    float: left;
    z-index: 1;
}


#roster_buttons_button {
    color: #1c1c1c;
    font-size: 70px;
    /* background-color: #00c9ff; */
    background-color: #b60031;

    /* border: 10px solid #00c9ff; */
    border: 10px solid #b60031;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-left: 2.5px;
}
#roster_buttons_button:hover {
    /* color: #00c9ff; */
    color: #ff0015;
    border: 10px solid #ffffff;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ff0015,
        0 0 30px #ff0015;
    
    border-collapse: collapse;
    background-color: #ffffff;
}

/* ~~~~~~~~~~~~~~~~~~~~ Register Unit ~~~~~~~~~~~~~~~~~~~~ */
#register_unit_button {
    color: #1c1c1c;
    font-size: 40px;
    background-color: #00b368;

    border: 10px solid #00b368;
    border-radius: 50px;
}
#register_unit_button:hover {
    color: #00b368;
    border: 10px solid #ffffff;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #00c9ff,
        0 0 30px #15ff00;
    
    border-collapse: collapse;
    background-color: #ffffff;
}
#register_unit_button_text {
    margin: 5px;
    margin-bottom: 20px;
    color: #00b368;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~ File Report ~~~~~~~~~~~~~~~~~~~~ */
#file_report_button {
    color: #1c1c1c;
    font-size: 25px;
    padding: 7px;
    background-color: #4285f4;

    border: 7px solid #4285f4;
    border-radius: 50px;
}
#file_report_button:hover {
    color: #4285f4;
    border: 7px solid #ffffff;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #00c9ff,
        0 0 30px #4285f4;
    
    border-collapse: collapse;
    background-color: #ffffff;
}
#file_report_button_text {
    margin: 5px;
    margin-bottom: 20px;
    color: #4285f4;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~ Edit Unit ~~~~~~~~~~~~~~~~~~~~ */
#edit_unit_button {
    color: #1c1c1c;
    font-size: 42px;
    background-color: #b629dd;

    border: 7px solid #b629dd;
    border-radius: 50px;
}
#edit_unit_button:hover {
    color: #b629dd;
    border: 7px solid #ffffff;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #00c9ff,
        0 0 30px #b629dd;
    
    border-collapse: collapse;
    background-color: #ffffff;
}
#edit_unit_button_text {
    margin: 5px;
    margin-bottom: 20px;
    color: #b629dd;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~ Approve Reports ~~~~~~~~~~~~~~~~~~~~ */
#approve_reports_button {
    color: #1c1c1c;
    font-size: 25px;
    padding: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #d6b44c;

    border: 7px solid #d6b44c;
    border-radius: 50px;
}
#approve_reports_button:hover {
    color: #d6b44c;
    border: 7px solid #ffffff;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #00c9ff,
        0 0 30px #d6b44c;
    
    border-collapse: collapse;
    background-color: #ffffff;
}
#approve_reports_button_text {
    margin: 5px;
    margin-bottom: 20px;
    color: #d6b44c;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Roster Buttons End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Roster Button Modals Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~ Register Unit Modal ~~~~~~~~~~~~~~~~~~~~ */
#register_unit_modal {    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.55);
}
#register_unit_modal_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00b368,
        0 0 20px #00b368;
    
    border-bottom: 1px solid #ffffff;
    background-color: #1c1c1c;
}
#register_unit_modal_body {
padding-left: 50px;
padding-right: 50px;
}
#registered_name {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;
}
#registered_contact {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;
}
#registered_recruiter {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;
}
#unit_recruiter {
    width: 250px;
}
#registered_battalion {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;
}
#unit_battalion {
    width: 250px;
}
#registered_date {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00b368,
        0 0 15px #00b368;
}
#unit_start {
    width: 250px;
}

/* ~~~~~~~~~~~~~~~~~~~~ File Report Modal ~~~~~~~~~~~~~~~~~~~~ */
#file_report_modal {    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #4285f4,
        0 0 20px #4285f4;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.55);
}
#file_report_modal_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;
    
    border-bottom: 1px solid #ffffff;
    background-color: #1c1c1c;
}

#select_registered_battalion {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    margin-left: 35%;
}
#select_battalion {
    width: 250px;
    margin-left: 35%;
}
#registered_member {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
    margin-left: 35%;
}
#select_member {
    width: 250px;
    margin-bottom: 40px;
    margin-left: 35%;
}

#completed_events {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 110px;
}
#unit_events {
    width: 75px;
    margin-top: 7.5px;
    font-weight: bold;
}
#completed_patrols {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 110px;
}
#unit_patrols {
    width: 75px;
    margin-top: 7.5px;
    font-weight: bold;
}
#completed_hours {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 10px #4285f4,
        0 0 15px #4285f4;

    border: 2px solid #ffffff;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 110px;
}
#unit_hours {
    width: 75px;
    margin-top: 7.5px;
    font-weight: bold;
}
#issued_alerts {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 5px #b60031,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border: 2px solid #ff0015;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 110px;
}
#unit_alerts {
    width: 75px;
    margin-top: 7.5px;
    font-weight: bold;
}
#issued_warning {
    color: #ffffff;
    font-size: 17.9px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
        0 0 5px #b60031,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border: 2px solid #ff0015;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 110px;
}
#warning_checkbox {
    margin-top: 3px;
    height: 37px;
    width: 37px;
}
#warning_checkbox:hover {
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #b60031,
        0 0 20px #b60031;
}


#completed_missions_container {
    width: 95%;
}

/* Missions */
#completed_turret {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_turret {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_turret:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;  
    background-color: #b60031;
}

#completed_ground_assault {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_ground_assault {
    width: 75px;
    margin-top: 10px;
    font-weight: bold;
}
#completed_ground_assault:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;  
    background-color: #b60031;
}

#completed_escort {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ad6cc2;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_escort {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_escort:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ad6cc2,
        0 0 20px #ad6cc2;

    border-collapse: collapse;  
    background-color: #ad6cc2;
}

#completed_inquiry {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #b60031;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_inquiry {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_inquiry:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;  
    background-color: #b60031;
}

#completed_pilot_co_pilot {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_pilot_co_pilot {
    width: 75px;
    margin-top: 10px;
    font-weight: bold;
}
#completed_pilot_co_pilot:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;  
    background-color: #ff7042;
}

#completed_mining {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_mining {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_mining:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;  
    background-color: #ff7042;
}

#completed_salvage {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_salvage {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_salvage:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;  
    background-color: #ff7042;
}

#completed_cargo {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff7042;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_cargo {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_cargo:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff7042,
        0 0 20px #ff7042;

    border-collapse: collapse;  
    background-color: #ff7042;
}

#completed_transit {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #a17b9b;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_transit {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_transit:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #a17b9b,
        0 0 20px #a17b9b;

    border-collapse: collapse;  
    background-color: #a17b9b;
}

#completed_support {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #a17b9b;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_support {
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_support:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #a17b9b,
        0 0 20px #a17b9b;

    border-collapse: collapse;  
    background-color: #a17b9b;
}

#completed_search_rescue {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #4285f4;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_search_rescue {
    width: 75px;
    margin-top: 10px;
    font-weight: bold;
}
#completed_search_rescue:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #4285f4,
        0 0 20px #4285f4;

    border-collapse: collapse;  
    background-color: #4285f4;
}

#completed_manage_data{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 5px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_manage_data{
    width: 75px;
    margin-top: 10px;
    font-weight: bold;
}
#completed_manage_data:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;  
    background-color: #00b368;
}

#completed_research{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_research{
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_research:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;  
    background-color: #00b368;
}

#completed_explore{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_explore{
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_explore:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;  
    background-color: #00b368;
}

#completed_agronomy{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #00b368;
    border-radius: 5px;
    background-color: #1c1c1c;
    padding-top: 15px;
    margin: 7.5px;
    margin-bottom: 0;
    width: 100px;
    height: 100px;
}
#mission_agronomy{
    width: 75px;
    margin-top: 22px;
    font-weight: bold;
}
#completed_agronomy:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #ffffff,
        0 0 10px #00b368,
        0 0 20px #00b368;

    border-collapse: collapse;  
    background-color: #00b368;
}

/* ~~~~~~~~~~~~~~~~~~~~ Edit Unit Modal ~~~~~~~~~~~~~~~~~~~~ */
#edit_unit_modal {    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #b629dd,
        0 0 20px #b629dd;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.55);
}
#edit_unit_modal_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;
    
    border-bottom: 1px solid #ffffff;
    background-color: #1c1c1c;
}

/* ~~~~~~~~~~~~~~~~~~~~ Approve Reports Modal ~~~~~~~~~~~~~~~~~~~~ */
#approve_reports_modal {    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.55);
}
#approve_reports_modal_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;
    
    border-bottom: 1px solid #ffffff;
    background-color: #1c1c1c;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Roster Button Modals End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Leadership Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#leadership_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 2px solid #d6b44c;
    border-radius: 2.5px;

    padding: 5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #1c1c1c;
}
#leadership_division_button:hover {
    border: 2px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
}
#leadership_division_dropdown {
margin-left: -11.7px;
}
#leadership_name {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 2px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
    width: 400px;
    background-color: #1c1c1c;
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Card Start ~~~~~~~~~~~~~~~~~~~~ */
#leadership_card {
    border: 2px solid #d6b44c;
    border-radius: 2.5px;
    background-color: #1c1c1c;
    margin-top: 10px;
    margin-right: 10px;
    width: 7rem;
}
#leadership_card:hover {
    border: 2px solid #ffffff;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
}
#leadership_card_text {
    color: #ffffff;
    font-size: 12px;
    /* font-weight: bold; */
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 5px #00c9ff,
        0 0 10px #00c9ff;
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Card End ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Modal Start ~~~~~~~~~~~~~~~~~~~~ */
#leadership_modal {    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.25);
}
#leadership_collapse {
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #d6b44c,
        0 0 20px #d6b44c;

    border-collapse: collapse;
    background-image: url("collapse_background.jpg");
}
/* ~~~~~~~~~~~~~~~~~~~~ Leadership Modal End ~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Leadership Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Combat Division Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#combat_division_container {
    margin-top: 22px;
}
#combat_division_button {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 2px solid #b60031;
    border-radius: 2.5px;

    padding: 5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #1c1c1c;
}
#combat_division_button:hover {
    color: #ffffff;
    font-size: 25px;
    text-shadow:
        0 0 15px #00c9ff,
        0 0 20px #00c9ff;

    border: 2px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;
}
#combat_division_members {
    border: 2px solid #ffffff;
    border-radius: 2.5px;
    box-shadow:
        0 0 10px #ffffff,
        0 0 15px #b60031,
        0 0 20px #b60031;

    border-collapse: collapse;
    background-color: rgb(28, 28, 28, 0.75);
    margin-top: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Combat Division End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Plus / Minus Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#events_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
    #events_minus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #ff0015,
            0 0 20px #ff0015;
    }
#events_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
    #events_plus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #15ff00,
            0 0 20px #15ff00;
    }

#patrols_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
    #patrols_minus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #ff0015,
            0 0 20px #ff0015;
    }
#patrols_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
    #patrols_plus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #15ff00,
            0 0 20px #15ff00;
    }

#hours_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
    #hours_minus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #ff0015,
            0 0 20px #ff0015;
    }
#hours_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
    #hours_plus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #15ff00,
            0 0 20px #15ff00;
    }

#alerts_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
    #alerts_minus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #ff0015,
            0 0 20px #ff0015;
    }
#alerts_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
    #alerts_plus:hover {
        color: #ffffff;
        text-shadow:
            0 0 5px #15ff00,
            0 0 20px #15ff00;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Missions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#turret_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#turret_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#turret_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#turret_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#ground_assault_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#ground_assault_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#ground_assault_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#ground_assault_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#escort_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#escort_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#escort_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#escort_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#inquiry_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#inquiry_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#inquiry_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#inquiry_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#pilot_co_pilot_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#pilot_co_pilot_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#pilot_co_pilot_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#pilot_co_pilot_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#mining_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#mining_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#mining_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#mining_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#salvage_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#salvage_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#salvage_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#salvage_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#cargo_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#cargo_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#cargo_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#cargo_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#transit_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#transit_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#transit_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#transit_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#support_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#support_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#support_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#support_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#search_rescue_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#search_rescue_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#search_rescue_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#search_rescue_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#manage_data_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#manage_data_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#manage_data_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#manage_data_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#research_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#research_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#research_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#research_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#explore_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#explore_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#explore_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#explore_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

#agronomy_minus {
    color: #ff0015;
    font-size: 35px;
    margin-right: 5px;
}
#agronomy_minus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #ff0015,
        0 0 20px #ff0015;
}
#agronomy_plus {
    color: #15ff00;
    font-size: 35px;
    margin-left: 5px;
}
#agronomy_plus:hover {
    color: #ffffff;
    text-shadow:
        0 0 5px #15ff00,
        0 0 20px #15ff00;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Extra ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#icon_round {
    color: #ff0015;
    margin-right: 5px;
    font-size: 17.5px;
    border-radius: 15px;
    padding: 4px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Full Roster End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */