@page {margin: 0;}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: #000000;
    background-image: url("concept5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Introduction Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#introduction_container {
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;

    border: 4px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px 2.5px #ffffff,
        0 0 10px 5px #00c9ff,
        0 0 20px 10px #00c9ff;

    border-collapse: collapse;

    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 95%;
}

#introduction_image_container {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#introduction_image {
    position: center;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 1px 2px #ffffff,
        0 0 2px 4px #00c9ff,
        0 0 10px 10px #00c9ff;
}

#introduction_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0015,
        0 0 15px #ff0015,
        0 0 20px #ff0015;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px 1px #ffffff,
        0 0 5px 4px #00c9ff,
        0 0 10px 10px #00c9ff;
    
    border-collapse: collapse;
    background-color: #1c1c1c;
    width: 275px;
}

#introduction_text {
    color: #ffffff;
    /* font-size: 1.2vw; */
    font-size: 22.5px;
    font-family: 'Fanwood Text', serif;
    margin-top: 20px;
    padding: 3%;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px 1px #ffffff,
        0 0 5px 4px #00c9ff,
        0 0 10px 10px #00c9ff;

    border-collapse: collapse;
    background-color: #1c1c1c;
    opacity: 95%;
}

#big_welcome {
    color: #ff0015;
    font-size: 23px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Introduction End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rules & Laws Start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#rules_laws_container {
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;

    border: 4px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 5px 2.5px #ffffff,
        0 0 10px 5px #00c9ff,
        0 0 20px 10px #00c9ff;

    border-collapse: collapse;

    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 95%;
}

#rules_laws_hidden_container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
    
#rules_laws_image_container {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#rules_laws_image {
    position: center;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 1px 2px #ffffff,
        0 0 2px 4px #00c9ff,
        0 0 10px 10px #00c9ff;

    border-collapse: collapse;
}
    
#rules_laws_title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0015,
        0 0 15px #ff0015,
        0 0 20px #ff0015;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px 1px #ffffff,
        0 0 5px 4px #00c9ff,
        0 0 10px 10px #00c9ff;
    
    border-collapse: collapse;
    background-color: #1c1c1c;
    width: 250px;
}
    
#rules_laws_text {
    color: #ffffff;
    /* font-size: 1.2vw; */
    font-size: 22.5px;
    font-family: 'Fanwood Text', serif;
    padding: 3%;
    background-color: #1c1c1c;
    opacity: 95%;
}

#rules_laws_collapse {
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow:
        0 0 2.5px 1px #ffffff,
        0 0 5px 4px #00c9ff,
        0 0 10px 10px #00c9ff;

    border-collapse: collapse;
    opacity: 95%;
}

#general_laws {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #1c1c1c;
}
#general_laws:hover {
    color: #ffffff;
    font-size: 25.2px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
}
#general_laws:hover #rules_laws_icon {
    color: #ffffff;
    font-size: 30.5px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border-radius: 25px;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    border-collapse: collapse;
    background-color: #ff0015;
}

#gameplay_rules {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #1c1c1c;
}
#gameplay_rules:hover {
    color: #ffffff;
    font-size: 25.2px;
    text-shadow:
        0 0 10px #00c9ff,
        0 0 15px #00c9ff;
}
#gameplay_rules:hover #rules_laws_icon {
    color: #ffffff;
    font-size: 30.5px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ff0015,
        0 0 15px #ff0015;

    border-radius: 25px;
    box-shadow:
        0 0 10px #ff0015,
        0 0 20px #ff0015;
    border-collapse: collapse;
    background-color: #ff0015;
}

#rules_laws_icon {
    color: #ff0015;
    font-size: 30px;
    margin-right: 20px;
    padding: 7px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rules & Laws End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */